/*  *************************
FONT FAMILIES FROM GOOGLE FONTS

font-family: 'Oswald', sans-serif;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Rammetto One', cursive; */

html, body{
  margin: 0;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.banner-container {
  background-image: url("../images/backgroundstereografitti.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  height: 100%;
}

.services-container,
.featured-video-container,
.clients-work-with-container,
.personal-instagram-container {
  min-height: 600px;
  background-color: #303030;
  border-bottom: 2px solid black;
}
.footer-container {
  height: 100px;
  background-color: #222222;
  color: lightgrey;
}