/*  *************************
FONT FAMILIES FROM GOOGLE FONTS

font-family: 'Raleway', sans-serif;
font-family: 'Fredericka the Great', cursive; */

html, body{
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
/************************************************ */
/* *************** NAVIGATION AND FOCAL MAIN IMAGE ********************* */
.banner-container {
  background-image: url("../images/backgroundblurlights.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #000;
}
.influencer-title {
  text-align: center;
  font-size: 32px;
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
  letter-spacing: .3em;
  color: white;
  width: 100%;
  background-color: rgba(16, 19, 22, .95);
  padding: 30px;
}
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  /* position: fixed; */
  z-index: 50;
  top: 0;
  left: 0;
  background: rgb(16, 19, 22);
  color: white;
}
.logo {
  font-family: 'Fredericka the Great', cursive;
  padding-left: 20px;
  font-size: 18px;
}
.navigation-buttons.large-screen {
  display: none;
}
.open-close-nav {
  padding-right: 20px;
}
.navigation-dropdown {
  background: rgba(16, 19, 22, .95);
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 50px;
  width: 100%;
  z-index: 48;
}
.navigation-dropdown a {
  text-decoration: none;
  color: white; 
  padding-left: 40px;
}
.navigation-dropdown div {
  padding-bottom: 15px;
  padding-top: 15px;
}
.navigation-dropdown div:hover {
  cursor: pointer;
  background: #007BAC;
}

@media screen and (min-width: 764px) {
  .mobile-screen {
    display: none;
  }
  .navigation-buttons.large-screen {
    display: flex;
  }

  .navigation-buttons a {
    text-decoration: none;
    color: white;
    padding: 10px;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  /* hover effect of underlining navigation words */
  .navigation-buttons a:after{
      border: 1px solid black;
      color: white;
      bottom: 0px;
      content: " ";
      display: block;
      -webkit-transition: all 280ms ease-in-out;
      -moz-transition: all 280ms ease-in-out;
      -o-transition: all 280ms ease-in-out;
      transition: all 280ms ease-in-out;
      width: 0;
  }
  .navigation-buttons a:hover:after{
      border-color:#007BAC;
      -webkit-transition: width 350ms ease-in-out;
      -moz-transition: width 350ms ease-in-out;
      -o-transition: width 350ms ease-in-out;
      transition: width 350ms ease-in-out;
      width: 100%;
  }
  .navigation-buttons a:hover:before {
      bottom: auto;
      top: 0;
      width: 100%;
  }
}
@media screen and (min-width: 984px) {
  .influencer-title {
    font-size: 44px;
    padding: 30px;
  }
  .navigation-container {
    height: 70px;
  }
  .logo {
    padding-left: 30px;
    font-size: 20px;
  }
  .navigation-buttons a {
    padding-right: 30px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-left: 40px;
    font-size: 22px;
  }
  .navigation-buttons a {
    padding-right: 40px;
    font-size: 18px;
  }
}

/************************************************ */
/* ********************** BODY OF WEBSITE ********************/
.top-section {
  background-image: url("../images/backgroundstairsblue.jpg");
  background-repeat:  no-repeat;
  background-size:  cover;
  background-position: center center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
} 
.content-section {
  max-width: 1100px;
  background-color: white;
  margin: 0 auto;
  height: 100%;
}
.about-me-container,
.services-overall-container,
.personal-instagram-container {
  display: flex;
}
.about-me-container,
.services-overall-container,
.clients-overall-container,
.personal-instagram-container {
  /* min-height: 600px; */
  padding-top: 75px;
}

.contact-title, 
.about-me-title,
.clients-title, 
.instagram-title,
.services-title  {
  /* font-family: 'Slabo 27px', serif; */
  margin: 0;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: .1em;
  color: #000;
}
@media screen and (min-width: 768px) {
  .about-me-container,
  .services-overall-container,
  .clients-overall-container,
  .personal-instagram-container {
    padding-top: 150px;
  }
}
@media screen and (min-width: 984px) {
  .contact-title, 
  .about-me-title,
  .clients-title,
  .instagram-title,
  .services-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about-me-container,
  .services-overall-container,
  .clients-overall-container,
  .personal-instagram-container {
    padding-top: 250px;
  }
  .contact-title,
  .about-me-title,
  .clients-title,
  .instagram-title,
  .services-title  {
    font-size: 40px;
  }
}

/************************************************ */
/* ***************  ABOUT ME SECTION  *********** */

.about-me-container { 
  text-align: center;
}
.about-me-information {
  background-color: rgba(255, 255, 255, .9);
  width: 100%;
  color: #444444;
  font-size: 18px;
  letter-spacing: .1em;
}
.about-me-title {
  padding-top: 40px;
  padding-bottom: 10px;
}
.about-me-paragraph {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}
.about-me-image {
  width: 90%;
  text-align: center;
}
.about-me-image img{
  width: 80%;
}

@media screen and (min-width: 768px) {
  /* *******  ABOUT ME  ********* */
  .about-me-container {
    text-align: left;
    flex-direction: row;
  }
  .about-me-information {
    font-size: 16px;
    padding: 40px 100px;
  }
  .about-me-paragraph {
    /* display: unset;
    text-align: left; */
    padding-top: 0px;
    padding-bottom: 0px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .about-me-title {
    padding-top: 30px;
    text-align: center;
  }
  .about-column-one,
  .about-column-two {
    width: 45%;
  }
  .about-me-image img {
    float: left;
    width: 350px;
    padding-right: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 984px) {
  /* *******  ABOUT ME  ********* */
  .about-me-information {
    width: 100%;
    font-size: 18px;
  }
  .about-me-image img {
    width: 300px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  /* *******  ABOUT ME  ********* */
  .about-me-information {
    width: 100%;
    font-size: 20px;
  }
}



/************************************************ */
/* ***************  SERVICES   ****************** */
.hidden {
  display: none;
}
/* overall container with all 3 services */
.services-overall-container {
  flex-direction: column;
  text-align: center;
}
.services-only-container {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 100px;
}
/* individual container */
.services-title {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding-top: 40px;
  
}
.first-set-services,
.second-set-services {
  display: 'flex';
  width: 100%;
}
.service {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: white;
  border-bottom: .75px solid #444444;
  -webkit-transition: all .75s ease-in-out;
  -moz-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
}
/* hover effect causing background image to disapear and be replaced with bright blue */
/* additional hover effects within main.js to regulate spans that are above and below the service title */
.service:hover {
  cursor: pointer;
  background: rgba(2, 74, 255, 0.7);
  -webkit-transition: all .75s ease-in-out;
  -moz-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
}
.learn-more {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* bold hidden-network */
.learn-more:hover {
  color: #18222b;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.service-networking {
  background: url("../images/service-networking3.jpg");
}
.service-sponsorship {
  background: url("../images/service-sponsorship3.jpg");
}
.service-management {
  background: url("../images/service-management3.jpg");
}
.service-coming-soon {
  background: url("../images/service-comingsoon.jpg");
}
.service-networking,
.service-management,
.service-sponsorship,
.sercice-coming-soon {
  background-repeat:  no-repeat;
  background-size:  cover;
  background-position: center center;
}
.each-service-title {
  font-size: 18px;
  letter-spacing: .2em;
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgba(50, 50, 50, 1);
  width: 100%;
}
.summary {
  width: 100%;
}
/* ***** used when did not have background images and had favicon icons instead */
/* .icon {
  margin: 0 auto;
} 

/* different icon colors */
/* .service-networking-icon {
  color: #009CD1;
}
.service-sponsorship-icon {
  color: #5E8196;
}
.service-management-icon {
  color: #47B7B8;
} */

@media screen and (min-width: 650px) {
  
}
@media screen and (min-width: 840px) {
  .services-overall-container {
    justify-content: center;
  }
  .service {
    display: flex;
    font-size: 18px;
  }
  .services-only-container {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .each-service-title {
    font-size: 23px;
    width: 100%;
    padding: 10px;
  }
  .summary {
    width: 100%;
    margin: 0;
  } 
}
@media screen and (min-width: 1100px) {
  .service {
    font-size: 22px;
  }
  .each-service-title {
    font-size: 26px;
  }
}




/************************************************ */
/***************** VIDEO SECTION **************** */
.no-video .featured-video-container video,
.touch .featured-video-container video {
  display: none;
}
.no-video .featured-video-container .poster,
.touch .featured-video-container .poster {
  display: block !important;
}
.featured-video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 700px;
  width: 100%;
  overflow: hidden;
  background: #000;
  /* border-bottom: 2px solid black; */
}
.featured-video-container .filter {
  z-index: 20;
  position: absolute;
  /* background: rgba(140, 140, 140, 0.6); */
  width: 100%;
  height: 100%;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-video-title {
  background: rgba(255, 255, 255, 0.7);
  /* color: #007BAC; */
  width: 100%;
  text-align: center;
  font-weight: 400;
  letter-spacing: .1em;
  padding: 30px;
}
.featured-video-container video {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
}
.featured-video-container video.fillWidth {
  width: 100%;
}



/************************************************ */
/* ************   CLIENTS   ********************** */
.clients-overall-container {
  text-align: center;
}
.clients-container {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
.clients-title {
  background-color: rgba(255, 255, 255, 0.9);
  padding-bottom: 50px;
  padding-top: 50px;
  margin: 0;
}
.client img {
  width: 200px;
  max-height: 100px;
  padding: 40px;
  
}
.haste img {
  padding: 0;
  padding-top: 25px;
  padding-bottom: 55px;
  padding-right: 40px;
  padding-left: 40px;
}
@media screen and (min-width: 764px) {
  .client img {
    width: 200px;
    max-height: 100px;
  }
}
@media screen and (min-width: 984px) {
  .client img {
    width: 300px;
    max-height: 100px;
  }
}
.clients-overall-container {
  
}
@media screen and (min-width: 1200px) {
  .client img {
    padding: 50px;
  }
}



/************************************************ */
/* ************  INSTAGRAM SECTION  ************ */
/*  Is not currently being displayed on site as client's instagram is not up and running */
.personal-instagram-container {
  text-align: center;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}
.instagram-title {
  padding-bottom: 50px;
}
.instagram-imports {
  display: flex;
  overflow: scroll;
}
.testing-instagram img {
  margin-left: 30px;
  height: 400px;
}



/************************************************ */
/* ************  CONTACT SECTION **************** */
.contact-container {
  background-color: white;
  background-position: bottom left;
  min-height: 500px;
  background-color: rgba(235, 235, 235, 0.6);
  color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-title {
  padding-top: 40px;
  padding-bottom: 30px;
  /* color: rgb(0, 123, 172); */
}
.contact-name,
.contact-email,
.contact-who {
  font-weight: 300;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color:#444444;
}
.name-email-section {
  display: flex;
  flex-direction: column;
}
.contact-name input,
.contact-email input,
.contact-who select {
  height: 40px;
  width: 300px;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
  border: 2px solid #444444;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.contact-name input:focus,
.contact-email input:focus,
.contact-who select:focus {
  outline: none;
  border-color: #B62B90;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

textarea#message {
  font-size: 16px;
  margin-top: 20px;
  border-radius: 4px;
  height: 200px;
  border: 2px solid #444444;
}
.contact-send-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;  
}
.contact-send-button input {
  padding: 12px 23px;
  border-radius: 30px;
  font-size: 13px;
  background-color: white;
  border: 2px solid #444444;
  color:#18222b;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.contact-send-button input:hover {
  border: 2px solid #B62B90;
  color: #B62B90;
}
@media screen and (min-width: 700px) {
  .contact-name,
  .contact-email,
  .contact-who { 
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color:#444444;
  }
  .name-email-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-name input,
  .contact-email input,
  .contact-who select {
    height: 30px;
    width: 300px;
    font-size: 14px;
    margin-top: 20px;
  }
  /* if add in message area */
  /* textarea#message {
    font-size: 16px;
    margin-top: 20px;
    height: 200px;
  } */
  .contact-send-button input {
    padding: 12px 23px;
    border-radius: 30px;
    font-size: 13px;
  }
}
@media screen and (min-width: 1000px) {
  .name-email-section {
    flex-direction: row;
  }
  .contact-name,
  .contact-email,
  .contact-who { 
    font-size: 20px;
  }
  .contact-name input,
  .contact-email input,
  .contact-who select {
    height: 40px;
    width: 300px;
    font-size: 16px;
  }
}


/************************************************ */
/* ************  FOOTER SECTION  **************** */

.footer-container {
  height: 200px;
  background-color: rgba(16, 19, 22, .95);
  color: white;
  letter-spacing: .20em;
  font-size: 12px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-to-website {
  text-decoration: none;
  color: white;
  padding-top: 20px;
  font-size: 13px;
}
.social-media-icons a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
.fa-facebook-square,
.fa-twitter-square,
.fa-instagram,
.fa-youtube-play {
  color: white;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}
.fa-facebook-square:hover{
  color: #4C68A5;
}
.fa-twitter-square:hover {
  color: #45A1EC;
}
.fa-instagram:hover {
  color: #B62B90;
}
.fa-youtube-play:hover {
  color: #EB3223;
}
.social-media-icons {
  padding-bottom: 30px;
}
.influencer-stuff-copyright {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 650px) {
  .footer-container {
    height: 300px;
    font-size: 14px;
  }
}
@media screen and (min-width: 984px) {
  .footer-container {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {

}




/* ****************************************** */
/* Modal Popup animations ONLY */
button {
	padding: 1em 2em;
	outline: none;
	font-weight: 600;
	border: none;
	color: #fff;
	background: #007BAC;
}
.dialog,
.dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
  pointer-events: none;
  z-index: 20;
}
.dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
  opacity: 0;
	-webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}
.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}
.dialog__content {
	width: 50%;
	max-width: 560px;
	min-width: 290px;
	background: #fff;
	padding: 4em;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
}
.dialog--open .dialog__content {
	pointer-events: auto;
}
/* Content */
.dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	padding: 0 0 2em;
	margin: 0;
}
.dialog--open .dialog__overlay {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.dialog--close .dialog__overlay {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.dialog__content {
	padding: 0;
	background: transparent;
}
.dialog.dialog--open .dialog__content {
	opacity: 1;
}
.morph-shape {
	position: absolute;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	top: -2px;
	left: -2px;
	z-index: -1;
}
.morph-shape svg rect {
	stroke: #fff;
	stroke-width: 2px;
	stroke-dasharray: 1680;
}
.dialog--open .morph-shape svg rect {
	-webkit-animation: anim-dash 0.6s forwards;
	-moz-animation: anim-dash 0.6s forwards;
	-o-animation: anim-dash 0.6s forwards;
	animation: anim-dash 0.6s forwards;
}
.dialog-inner {
	opacity: 0;
	background: #fff;
}
.dialog--open .dialog-inner {
	padding: 4em;
	opacity: 1;
	-webkit-transition: opacity 0.85s 0.35s;
	-moz-transition: opacity 0.85s 0.35s;
	-o-transition: opacity 0.85s 0.35s;
	transition: opacity 0.85s 0.35s;
}
.dialog.dialog--open h2 {
	-webkit-animation: anim-elem-1 0.7s ease-out both;
	-moz-animation: anim-elem-1 0.7s ease-out both;
	-o-animation: anim-elem-1 0.7s ease-out both;
	animation: anim-elem-1 0.7s ease-out both;
}
.dialog.dialog--open button {
  -webkit-animation: anim-elem-2 0.7s ease-out both;
  -moz-animation: anim-elem-2 0.7s ease-out both;
	-o-animation: anim-elem-2 0.7s ease-out both;
	animation: anim-elem-2 0.7s ease-out both;
}
.dialog.dialog--open button:hover {
  cursor: pointer;
}
@keyframes anim-dash {
	0% {
		stroke-dashoffset: 1680;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes anim-dash {
	0% {
		stroke-dashoffset: 1680;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

/* Inner elements animations */
@-webkit-keyframes anim-elem-1 {
	0% { opacity: 0; -webkit-transform: translate3d(-150px, 0, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}
@keyframes anim-elem-1 {
	0% { opacity: 0; -webkit-transform: translate3d(-150px, 0, 0); transform: translate3d(-150px, 0, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
@-webkit-keyframes anim-elem-2 {
	0% { opacity: 0; -webkit-transform: translate3d(150px, 0, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}
@keyframes anim-elem-2 {
	0% { opacity: 0; -webkit-transform: translate3d(150px, 0, 0); transform: translate3d(150px, 0, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
