/*  *************************
FONT FAMILIES FROM GOOGLE FONTS

font-family: 'Oswald', sans-serif;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Rammetto One', cursive; 
*/

html, body{
  margin: 0;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: .1em;
}
/************************************************ */
/* *************** NAVIGATION AND FOCAL MAIN IMAGE ********************* */
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
.logo {
  font-family: 'Rammetto One', sans-serif; 
}
.navigation-buttons {
  display: flex;
}

.navigation-buttons a {
  text-decoration: none;
  color: white;
  padding: 10px;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}
.navigation-buttons a:after{
    border: 1px solid black;
    bottom: 0px;
    content: " ";
    display: block;
    transition: all 280ms ease-in-out;
    width: 0;
}
.navigation-buttons a:hover:after{
    border-color:#3D9BEB;
    transition: width 350ms ease-in-out;
    width: 100%;
}
.navigation-buttons a:hover:before {
    bottom: auto;
    top: 0;
    width: 100%;
}

.banner-container {
  background-image: url("../images/backgroundblurlights-min.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.influencer-title {
  text-align: center;
  font-size: 40px;
  font-family: 'Rammetto One', sans-serif; 
  letter-spacing: .2em;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
}

@media screen and (min-width: 1200px) {
  .navigation-container {
    height: 70px;
  }
  .logo {
    padding-left: 40px;
    font-size: 22px;
  }
  .navigation-buttons a {
    padding-right: 40px;
    font-size: 18px;
  }
}

/************************************************ */
/* ********************** BODY OF WEBSITE ********************/
.about-me-container,
.services-overall-container,
.personal-instagram-container {
  min-height: 600px;
  background-color: #18222b;
  /* border-bottom: 2px solid black; */
  display: flex;
}

.contact-title, 
.about-me-title,
.clients-title,
.instagram-title,
.services-title  {
  font-size: 24px;
  font-family: 'Rammetto One', sans-serif; 
  letter-spacing: .2em;
  color: #3D9BEB;
}
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 984px) {
  .contact-title, 
  .about-me-title,
  .clients-title,
  .instagram-title,
  .services-title {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .about-me-container,
  .services-overall-container,
  .clients-overall-container,
  .personal-instagram-container {
    min-height: 800px;
  }
  .contact-title,
  .about-me-title,
  .clients-title,
  .instagram-title,
  .services-title  {
    font-size: 32px;
  }
}

/************************************************ */
/* ***************  ABOUT ME SECTION  *********** */
.about-me-container {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 100px;
}
.about-me-information {
  width: 90%;
  color: lightgrey;
  font-size: 18px;
  letter-spacing: .1em;
}
.about-me-paragraph {
  display: flex;
  flex-direction: column-reverse;
}
.about-me-image {
  width: 90%;
  text-align: center;
}
.about-me-image img{
  width: 80%;
}

@media screen and (min-width: 768px) {
  /* *******  ABOUT ME  ********* */
  .about-me-container {
    flex-direction: row;
  }
  .about-me-information {
    font-size: 20px;
    padding-top: 100px;
  }
  /* *******  ABOUT ME  ********* */
  .about-me-paragraph {
    display: unset;
    text-align: justify;
  }
  .about-me-image img {
    float: right;
    width: 350px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 984px) {
  /* *******  ABOUT ME  ********* */
  .about-me-information {
    width: 90%;
    font-size: 22px;
  }
  .about-me-image img {
    width: 400px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  /* *******  ABOUT ME  ********* */
  .about-me-information {
    width: 85%;
    font-size: 22px;
  }
}



/************************************************ */
/* ***************  SERVICES   ****************** */
/* overall container with all 3 services */
.services-overall-container {
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  text-align: center;
}
.services-only-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* individual container */
.service {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: white;
}
.each-service-title {
  font-size: 18px;
  font-family: 'Rammetto One', sans-serif; 
  letter-spacing: .2em;
  color: #3D9BEB;
}
.icon {
  margin: 0 auto;
}
.summary {
  width: 55%;
  margin: 0 auto;
}
.service-icons {
  color: white;
}

@media screen and (min-width: 650px) {
  .service {
    width: 80%;
  }
}
@media screen and (min-width: 840px) {
  .service {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
  }
  .each-service-title {
    font-size: 23px;
  }
  .icon {
    margin: 0;
  }
  .summary {
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 1100px) {
  /* ********* SERVICES ********* */
  .service {
    width: 25%;
    font-size: 22px;
  }
  .each-service-title {
    font-size: 26px;
  }
}




/************************************************ */
/***************** VIDEO SECTION **************** */
.no-video .featured-video-container video,
.touch .featured-video-container video {
  display: none;
}
.no-video .featured-video-container .poster,
.touch .featured-video-container .poster {
  display: block !important;
}
.featured-video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 700px;
  width: 100%;
  overflow: hidden;
  background: #000;
  /* border-bottom: 2px solid black; */
}
.featured-video-container .filter {
  z-index: 20;
  position: absolute;
  background: rgba(31, 43, 55, 0.7);
  width: 100%;
  height: 100%;
}
.featured-video-container video {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
}
.featured-video-container video.fillWidth {
  width: 100%;
}



/************************************************ */
/* ************   CLIENTS   ********************** */
.clients-overall-container {
  text-align: center;
  padding-top: 100px;
  background: #18222b;
}
.clients-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.client img {
  width: 200px;
  max-height: 100px;
  padding: 40px;
  transition: all .75s ease-in-out;
}
.haste img {
  padding: 0;
  padding-top: 25px;
  padding-bottom: 55px;
  padding-right: 40px;
  padding-left: 40px;
}
.client img:hover {
  transform: scale(1.1);
  transition: all .75s ease-in-out
}
@media screen and (min-width: 984px) {
  .clients-title {
    padding-bottom: 40px;
  }
  .client img {
    width: 300px;
    max-height: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    /* padding-top: 40px; */
  }
}



/************************************************ */
/* ************  INSTAGRAM SECTION  ************ */
.personal-instagram-container {
  text-align: center;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: scroll;
  padding-top: 100px;
  padding-bottom: 100px;
}
.instagram-title {
  padding-bottom: 50px;
}
.instagram-imports {
  display: flex;
  overflow: scroll;
}
.testing-instagram img {
  margin-left: 30px;
  height: 400px;
}



/************************************************ */
/* ************  CONTACT SECTION **************** */
.contact-container {
  min-height: 800px;
  background-color: #18222b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-name,
.contact-email,
.contact-message {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #3D9BEB;
}
.name-email-section {
  display: flex;
}
.contact-name input,
.contact-email input {
  height: 40px;
  width: 300px;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
  border: 2px solid #3D9BEB;
}
textarea#message {
  font-size: 16px;
  margin-top: 20px;
  border-radius: 4px;
  height: 200px;
  border: 2px solid #3D9BEB;
}
.contact-send-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.contact-send-button button {
  padding: 12px 23px;
  border-radius: 30px;
  font-size: 13px;
  background-color: white;
  border: 2px solid #18222b;
  color:#18222b;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.contact-send-button button:hover {
  border: 2px solid #3D9BEB;
  color: #3D9BEB;
}



/************************************************ */
/* ************  FOOTER SECTION  **************** */
.footer-container {
  background-image: url("../images/backgrounddarkbrick2.jpeg");
  background-repeat:  no-repeat;
  background-size:  cover;
  height: 175px;
  background-color: black;
  color: white;
  letter-spacing: .20em;
  font-size: 12px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-icons a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
.fa-facebook-square,
.fa-twitter-square,
.fa-instagram,
.fa-youtube-play {
  color: white;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}
.fa-facebook-square:hover{
  color: #4C68A5;
}
.fa-twitter-square:hover {
  color: #45A1EC;
}
.fa-instagram:hover {
  color: #B62B90;
}
.fa-youtube-play:hover {
  color: #EB3223;
}
.social-media-icons {
  padding-bottom: 30px;
}
@media screen and (min-width: 650px) {
  .footer-container {
    font-size: 14px;
  }
}
@media screen and (min-width: 984px) {
  .footer-container {
    height: 250px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {

}